/* About.css */

.about {

    background-color: #2872d2;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}


.about2 {
    padding: 2rem;
    background-color: #fcfcfc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin: 20px;
}



.about h2 {
    font-size: 2rem;
    color: #171717;
    margin-bottom: 1.5rem;
}

.about h3 {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 1rem;
}

.about p {

    color: #000000;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.about ul {
    list-style: none;
    padding: 0;
}

.about ul li {
    font-size: 1rem;
    color: #030303;
    margin-bottom: 0.5rem;
}