/* src/components/Features.css */
.features {
    padding: 5rem 2rem;
    text-align: center;
    background-color: #f1f1f1;
    /* Fondo gris claro */
}

.features h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #001f3f;
    /* Azul oscuro */
}

.features ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.features li {
    background-color: white;
    /* Blanco */
    padding: 1.5rem;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: #001f3f;
    /* Azul oscuro */
}

.features li:hover {
    transform: translateY(-5px);
    background-color: #FF4136;
    /* Rojo */
    color: white;
}